<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Pawel.Workshop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                  </configSections>
  <connectionStrings>
    <add name="DatabaseEntities" connectionString="metadata=&quot;res://*/Database.Database model.DatabseModel.csdl|res://*/Database.Database model.DatabseModel.ssdl|res://*/Database.Database model.DatabseModel.msl&quot;;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\Database.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <userSettings>
    <Pawel.Workshop.Properties.Settings>
      <setting name="Vat" serializeAs="String">
        <value>23</value>
      </setting>
    </Pawel.Workshop.Properties.Settings>
  </userSettings>
</configuration>